# Database
##DATABASE_URL="postgresql://postgres:Vinn98M!-Cool1234@db.snphgskyfslitovuddbd.supabase.co:5432/postgres?schema=public"

# NextAuth
#NEXTAUTH_URL="http://localhost:3000"
##NEXTAUTH_SECRET="3e7aafc3bfa1250503dbff48578335f3"

# OpenAI
#OPENAI_API_KEY="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"

# Cloudinary
##CLOUDINARY_CLOUD_NAME="dby7hhjxk"
#CLOUDINARY_API_KEY="649972752857183"
#CLOUDINARY_API_SECRET="1nqo9StgneJn2XkNaQr3s9AJzr8"
