# Database
##DATABASE_URL=Your_database_url
# NextAuth
#NEXTAUTH_URL=Your_nextauth_url
##NEXTAUTH_SECRET=your_nextauth_secret

# OpenAI
#OPENAI_API_KEY=your_openai_api_key_here
# Cloudinary
##CLOUDINARY_CLOUD_NAME=your_cloud_name
#CLOUDINARY_API_KEY=your_cloudinary_api_key
#CLOUDINARY_API_SECRET=your_api_secret
